<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>New Movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<h1>New Movie</h1>
<form th:action="@{/movie}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" name="title"/></td>
        </tr>
        <tr>
            <td>Release Date:</td>
            <td><input type="text" name="releaseDate"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="checkbox" name="color" value="true"/> Color</td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Submit"/>&nbsp;&nbsp;
                <input type="reset" value="Reset"/></td>
        </tr>
    </table>
</form>
</body>
</html>
